@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display:flex;
    height:auto;
    justify-content:center;
    align-items:center;
    padding:10px;
    background: url(intern4.jpg);
    background-size:cover;
}
.container{
    max-width:400pxd;
    width:55%;
    background:#ffffff4a;
    padding:25px 30px;
    border-radius:5px;
}
.container .intern{
    font-size: 30px;
    font-weight: bolder;
    color:#226a80;
}
.container .title{
    font-size: 25px;
    font-weight: bold;
    position:relative;

}
.container .title::before{
    content: '';
    position:absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 30px;
}
container form .user-details{
    margin:20px 0 12px 0;
    display:flex;
    padding-right: 3px;
    justify-content: space-between;
}
from .user-details .input-box{
    margin-bottom: 15px;
    width:calc(100% / 2- 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight:500;
    margin-bottom:d5px;
}
.user-details .input-box input{
    height:41px;
    width: 67%;
    outline:none;
    border:1px solid #ccc;
    padding-left:15px;
    font-size:16px
    boder- bottom width 2px;
    transition:all 0.3s ease;

}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#226a80;
}
form gender-details .gender-title{
    font-size:20px;
    font-weight:500;
}
form .button{
    height:45px;
    margin:45px 0;
}
form .button input{
    height:90%;
    width:80%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight:500;
    letter-spacing: 1px;
    background:linear-gradient(135deg,#71b7e6,#226a80);

}
form .button input:hover{
    background:linear-gradient(135deg,#71b7e6,#226a80);

}
@media (max-width:584){
    .container{
        max-width:100%;
    }
    form .user-details .input-box{
        margin-bottom:15px;
        width:100%;
    }
    from .gender-details .category{
        width:100%;
    }
    .container from .user-details{
        max-height:300px;
        overflow-y: scroll;
    }
    .user-details::-wbkit-scrollbar{
        width:5px;
    }
}
/*form .gender-details .category{
    display:flex;
    width:80%
    margin:14px 0;
    justify-content: space-around;
    
}
.gender-details.category label{
display:flex;
}
.gender-details.category .dot{
    height:18px;
    width:18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right:10px ;
    border:5px solid transparent;
    padding-left: 15px;
    transition:all 0.3s;
    
}
#dot-1:checked ~ .category label .one,
#dot-1:checked ~ .category label .two,
#dot-1:checked ~ .category label .three{
    border-color: #d9d9d9;
    background:#9b59b6;
}
form input type radio{
    display: none;
}*/

